body {
  padding-top: 5em;
  min-width: 100%;
}

.container {
  min-width: 100%;
}

p {
  text-align: justify;
}

.center {
  text-align: center;
}

h1 {
  font-weight: bold;
}

h2 {
  margin-bottom: 0.3em;
}

div.jumbotron {
  box-shadow: 1px 1px 1px #888888;
}

.img-responsive {
  margin: 0 auto;
}

ul.social {
  margin-bottom: 0px;
  padding: 0;
  font-size: 2em;
  list-style: none outside;
}

ul.social li {
  display: inline-block;
  margin-right: 1.5em;
}
